body {
  text-align: center;
}

div {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  gap: 10px;
  justify-content: center;

  button {
    width: 100px;
    height: 100px;
    font-size: 80px;
    padding-inline: 0;
    padding-block: 0;
    border-width: 0;
  }
}

#reset {
  margin-top: 20px;
  font-size: 20px;
}